<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="true"
         stopOnFailure="false"
         syntaxCheck="false"
        >
    <testsuites>
        <testsuite name="BehatApp_Test_Suite">
            <directory>tests/BehatEditorServices/Routes</directory>
            <directory>tests/BehatEditorServices/Controllers</directory>
            <directory>tests/BehatEditorServices/Models</directory>
        </testsuite>
        <testsuite name="Routes">
            <file>tests/BehatEditorServices/BaseTest.php</file>
            <directory>tests/BehatEditorServices/Routes</directory>
        </testsuite>
        <testsuite name="Services">
            <directory>tests/BehatEditorServices/services</directory>
        </testsuite>
    </testsuites>
</phpunit>
